@import "src/assets/css/variables";
.navbar {
    display: flex;
    justify-content: space-between;

    svg {
      margin-top: 7px;
      cursor: pointer;
      transition: all .7s linear;

      &:hover {
        transform: scale(1.2);
      }
    }

  a {
    display: inline-block;
    padding: 4px 20px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    margin-left: 10px;

    &:hover {
      background-color: #723dc9;
      color: grey;
    }

    @media screen and(max-width: $sm) {
      display: none;
    }
  }
}

.clicked {
  border: 1px solid white;
  background-color: #723dc9;
  color: grey;
}
