@import './src/assets/css/variables';

.users-list {
  .user-info {
    margin-top: 10px;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    button {
      margin-left: 5px;

      @media screen and (max-width: $sm) {
        & {
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }
}

